streamlit
streamlit-option-menu
python-dotenv
langchain
langchain-openai
pinecone
langchain-pinecone
langchain-community
lxml
python-docx
unstructured[docx,pdf]
faiss-cpu
tiktoken
pandas
boto3
reportlab
PyPDF2
openai
pydantic
pymupdf
semantic-text-splitter
spacy

# python -m spacy download zh_core_web_sm
# python -m spacy download en_core_web_sm